$cream: #fffffb;
$teal: rgb(6, 104, 117);
$maroon: #8a2739;

body {
    header {
        border-bottom: 5px solid $teal;
        .jumbotron {
            background-color: $maroon;
            color: $cream;
            margin-bottom: 0px;
        }
        #heading {
            font-family: 'Bungee', cursive;
            font-size: 40px;
        }
        #subheading {
            font-family: 'Bungee', cursive;
            font-size: 20px;
            color: $teal;
            text-shadow: -1px 0 $cream, 0 1px $cream, 1px 0 $cream, 0 -1px $cream;
        }
        @media screen and (min-width: 700px) {
            #heading {
                font-size: 75px;
            }
        }
        @media screen and (min-width: 1000px) {
            #heading {
                font-size: 95px;
            }
            #subheading {
                font-size: 25px;
            }
        }
    }
    main {
        padding-top: 35px;
        background-color: $cream;
        #photos {
            columns: 1;
            .grid-item {
                display: inline-block;
                img {
                    width: 100%;
                    border-top-right-radius: 3px;
                    border-top-left-radius: 3px;
                    border: 2px solid $teal;
                    border-bottom: none;
                    margin-top: 5px;
                    // min-width: 274px;
                }
                .caption {
                    width: 100%;
                    padding: 10px;
                    margin-top: 0px;
                    text-align: center;
                    font-family: 'Bungee Hairline', cursive;
                    font-size: 18px;
                    font-weight: bold;
                    background-color: rgba(6, 104, 117, 0.2);
                    color: $teal;
                    border-bottom-right-radius: 3px;
                    border-bottom-left-radius: 3px;
                    border: 2px solid $teal;
                    border-top: none;
                }
            }
        }
        @media screen and (min-width: 700px) {
            #photos {
                columns: 3;
            }
        }
        @media screen and (min-width: 1000px) {
            #photos {
                columns: 4;
            }
        }
    }
}
